

    #ff{
    /* display: flex;
    justify-content: center; */
    width:200px;
    height:200px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin-left: 70px;
	clip-path: circle();


      }
      
      #ff:hover {
        
        transform: rotate(360deg);
        box-shadow: -30px 30px 15px 5px rgba(86, 80, 12, 0.4);
        margin-left: 50px;

      } 
       
    